[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"psycopg2" = "*"
django = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
django-favicon = "*"
pillow = "*"
django-db-file-storage = "*"
"django-bootstrap4" = "*"


[dev-packages]

