{% extends 'imoveis/base.html' %}
{% block content %}
  <div class='row pb-2'>
    <div class='col-md-4'>
      {% if query %}
        <h4> Resultados da busca por:</h4>
        '{{ query }}'
      {% endif %}
    </div>
    <div class='col-md-6'>
      <form method='post' class='form'>
        {% csrf_token %}
        <input type='text' name='query' value="{{ query }}">
      </form>
    </div>
    <div class='col-md-2'>
    </div>
  </div>
  <div class='row pb-2'>
    <div class='col-md-12'>
      {% if build_list %}
        <ul class="list-group">
        {% for build in build_list %}
        <li class="list-group-item">
          <a href="{% url 'imoveis:detail' build.id %}">{{ build.address }}</a>
        </li>
        {% endfor %}
        </ul>
      {% else %}
        <p> No builds are available </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
